.lichChieu {
   .row {
      .listMovies {
         .accordion {
            .card {
               .acc__collapse {
                  .card-body {
                     .listSuatChieu {
                        .wrapSuatChieu {
                           width: 25%;
                           text-align: center;
                           margin: 0.4rem 0;

                           .suatChieu {
                              padding: 0.3rem;
                              margin-right: 0;

                              &:hover {
                                 text-decoration: none;
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}