.lichChieu {
   .row {
      .listMovies {
         .accordion {
            .card {
               .acc__collapse {
                  .card-body {
                     .listSuatChieu {
                        .suatChieu {
                           height: auto;
                           margin-right: 0;

                           &:hover {
                              text-decoration: none;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}