@mixin btnBook {
   .btnBook {
      padding: 20px 0;
      width: 100%;

      span.MuiButton-label {
         color: #FFF !important;
         font-size: 1.2rem;
         font-weight: bold;
      }

      &:focus {
         outline: none;
      }
   }
}

.booking {

   .col-8 {
      width: 100%;
      padding: 0 1rem;

      .row {
         margin: 0;
      }

      .header__row {
         align-items: center;
         width: 100%;


         .header--left {
            .rap {
               b {
                  color: green;
               }
            }

            .img__logo {
               width: 50px;
               height: 50px;

               img {
                  width: 100%;
                  height: 100%;
               }
            }
         }

         .header--right {

            p {
               margin-bottom: 0.2rem;
               font-size: 0.8rem;
               color: #888;
            }

            h4 {
               text-align: center;
               color: red;
               margin-bottom: 0.2rem;
               font-size: 2rem;
            }
         }
      }

      .img__screen {
         width: 100%;

         img {
            width: 100%;
         }
      }

      .chairList {
         width: 480px;
         margin: 0 auto;
         display: flex;
         flex-wrap: wrap;




         .chair {
            padding: 0;
            min-width: 30px;
            min-height: 30px;
            margin: 10px 5px;

            &:hover {
               box-shadow: none;
               background-color: #FFF;
            }
         }


      }
   }

   // info ticket
   .col-4 {
      position: relative;
      padding: 0;

      border-left: 0px solid #BBB;
      box-shadow: 2px 10px 10px;

      .price {
         text-align: center;
         color: rgb(73, 205, 52);
      }

      .seat__price {
         h5 {
            width: 75%;
            overflow-wrap: anywhere;
         }

         .maGheChoice {
            color: red;
         }

         span {
            color: rgb(73, 205, 52);
         }
      }


      .item__box {
         border-bottom: 1px dotted #DDD;
         height: auto;
         line-height: auto;
         padding: 1rem 0.5rem;

         form {
            .MuiTextField-root {

               .MuiInput-root:focus .MuiInput-underline::after {
                  border-bottom: 0px;
               }

               .MuiInput-underline::before {
                  border-bottom: 0px;
               }
            }
         }
      }

      .btnDatVe {
         width: 100%;
         position: absolute;
         bottom: 0;
         padding: 0;
         @include btnBook();

         .btnNotChoice {
            background-image: linear-gradient(to right, rgb(138, 135, 135), rgba(147, 145, 145, 0.235));
         }

         .btnChoicing {
            background-image: linear-gradient(to right, rgb(41, 170, 29), rgb(94, 230, 74));
         }
      }
   }
}