.filmBlock {
   margin-top: 2rem;


   // nav
   .nav {
      padding-top: 2rem;

      .nav-item {

         .nav-link {
            font-size: 1.5rem;
            transition: all 0.2s;
            color: #000;
            font-weight: 500;

            &:hover {
               transform: scale(1.1);
            }
         }


         .active {
            font-size: 1.8rem;
            color: red;
            background-color: #FFF;

            &:hover {
               transform: none;
               cursor: default;
            }
         }


      }
   }

   // tab-content
   .tab-content {
      .slick-slider {
         .slick-arrow {
            &::before {
               position: absolute;

               color: #000;
               font-size: 3rem;
            }
         }

         .slick-prev::before {
            left: -200%;
         }



         // .slick-list {
         //    .slick-track {
         //       .slick-slide {

         //       }
         //    }
         // }
      }
   }

}