.profile {

   .tab-content {
      .tab-pane {
         margin-top: 1rem;

         .tableProfile {
            display: flex;

            .col-6 {
               button {
                  margin-top: 2rem;
               }

               .form-group {

                  label {
                     color: #777;
                  }

                  input {
                     color: #555;
                     font-weight: bold;
                  }
               }
            }
         }
      }

      .history {
         margin-bottom: 3rem;
         overflow-x: hidden;
         overflow-y: auto;
         height: 100vh;

         .row__movie {
            height: 10rem;
            margin-bottom: 1rem;

            .imgMovie {
               width: 100%;
               height: 100%;

               img {
                  width: 100%;
                  height: 100%;
               }
            }

            .infoMovie {
               height: 100%;
               padding: 1rem;

               .rap {
                  display: flex;
                  align-items: center;
                  height: 50%;

                  .imgRap {
                     width: 4rem;
                     height: 4rem;
                     margin-right: 2%;

                     img {
                        width: 100%;
                        height: 100%;
                     }
                  }
               }
            }
         }
      }
   }
}