* {
   scroll-behavior: smooth;
}


header {
   nav {
      .header__right {
         ul {
            li {
               position: relative;
               color: #000;
               display: flex;
               align-items: center;

               &:hover {
                  cursor: pointer;
               }

               &:hover span {
                  cursor: pointer;
                  display: block;
                  color: #FFF;
                  position: absolute;
                  bottom: -7.5rem;
                  left: 0;
                  padding: 0.5rem;
                  background: #999;
                  font-weight: 600;
                  border-radius: 5px;
               }


               &:hover .profile {
                  text-decoration: none;
                  cursor: pointer;
                  display: block;
                  color: #FFF;
                  position: absolute;
                  bottom: -5rem;
                  left: 0;
                  padding: 0.5rem;
                  background: #999;
                  font-weight: 600;
                  border-radius: 5px;
               }

               &:hover .admin {
                  text-decoration: none;
                  cursor: pointer;
                  display: block;
                  color: #FFF;
                  position: absolute;
                  bottom: -2.5rem;
                  left: 0;
                  padding: 0.5rem;
                  background: #999;
                  font-weight: 600;
                  border-radius: 5px;
               }

               b {
                  width: 8rem;
               }


               span,
               .profile,
               .admin {
                  display: none;

               }
            }
         }
      }
   }
}