.lichChieu {
   height: 700px;

   .row {
      width: 100%;
      height: 100%;

      .nav-pills {
         padding-right: 0;
         border: 1px solid #DDD;
         height: 100%;
         padding-top: 0.5rem;

         a {
            // width: 100%;
            opacity: 0.5;
            text-align: center;
            padding: 0;
            height: 3.5rem;
            line-height: 3.5rem;


            &.active {
               opacity: 1;
               background-color: #FFF;
            }

            &:hover {
               cursor: pointer;
               opacity: 1;
            }

            img {
               width: 2.2rem;
               height: 2.2rem;
            }
         }
      }

      .tab-content {
         border: 1px solid #DDD;
         border-right: 0;
         border-left: 0;
         height: 100%;

         .tab-pane {
            margin-top: 0.5rem;

            .listBrand {
               display: flex;
               align-items: center;
               border-bottom: 0;
               opacity: 0.5;
               margin: 0;
               height: 3.5rem;

               .img__card {

                  height: 3rem;
                  padding: 0 0.5rem 0 0;

                  img {
                     width: 100%;
                     height: 100%;
                     padding: 0 0.5rem !important;
                  }
               }

               .address {
                  padding-left: 0.5rem;
                  padding: 0;

                  h5 {
                     font-size: 0.7rem;
                     margin-bottom: 0;

                     b {
                        color: #00ac4d;
                     }
                  }

                  p {
                     font-size: 0.6rem;
                     color: #888;
                     margin-bottom: 0;
                  }
               }

               &.active {
                  opacity: 1;
                  background-color: #FFF;
               }

               &:hover {
                  cursor: pointer;
                  opacity: 1;
               }
            }


         }
      }


      // listMoviesTheoRap
      .listMovies {
         padding: 0;
         height: 100%;
         overflow-y: scroll;
         overflow-x: hidden;
         border: 1px solid #DDD;

         .accordion {


            .card {
               padding-top: 0.5rem;
               padding-bottom: 0.5rem;
               border: none;
               border-bottom: 1px solid #DDD;

               .card-header {
                  display: flex;
                  align-items: center;
                  border-bottom: 0;
                  padding: 0.5rem 1.25rem;
                  background-color: #FFF;

                  .img__card {
                     width: 50px;
                     height: 50px;

                     img {
                        width: 100%;
                        height: 100%;
                     }
                  }

                  .address {
                     padding-left: 0.5rem;

                     h5 {
                        font-size: 1rem;
                        margin-bottom: 0;

                        b {
                           color: #00ac4d;
                        }
                     }

                     p {
                        font-size: 0.8rem;
                        color: #888;
                        margin-bottom: 0;
                     }
                  }

                  &:hover {
                     cursor: pointer;
                  }
               }

               .acc__collapse {
                  // overflow-x: scroll;
                  // overflow-y: hidden;

                  .card-body {
                     padding-top: 0.5rem;
                     padding-bottom: 0.5rem;

                     h6 {
                        font-size: 0.8rem;
                     }

                     .listSuatChieu {
                        display: flex;
                        // justify-content: space-between;
                        list-style: none;
                        width: 100%;
                        flex-wrap: wrap;


                        .suatChieu {
                           border: 1px solid #DDD;
                           border-radius: 10px;
                           margin-right: 1rem;
                           margin-bottom: 0.5rem;
                           text-align: center;
                           padding: 0.2rem;

                           width: 20%;

                           .suatChieuIn {
                              font-size: 0.9rem;
                              font-weight: 600;
                              color: #00ac4d;
                           }

                           .suatChieuOut {
                              font-size: 0.8rem;
                              color: #777;
                           }

                           &:hover,
                           &:hover .suatChieuIn {
                              color: red;
                              cursor: pointer;

                           }
                        }
                     }
                  }
               }
            }
         }
      }

   }
}