.homeApp {
   background-image: url('./../../assets/backapp.jpg');
   height: 600px;
   width: 100%;

   .container {
      height: 100%;

      .row {
         height: 100%;
         align-items: center;

         .img__app {
            height: 30rem;
            display: flex;
            justify-content: center;

            img {
               height: 100%;
            }
         }

         .content__app {
            color: #FFF;

            a {
               color: #FFF;
               text-decoration: underline;
               margin: 0 0.3rem;
               font-weight: 600;
            }
         }
      }
   }
}