.lichChieu__content {
   .col-3 {
      flex: 0 0 25%;
      max-width: 25%;
   }

   height: 40rem;

   .rap__info {
      padding: 0;
      height: auto;
      background-color: #FFF;

      .rap__list {
         margin-bottom: 0;

         .rap__item {
            opacity: 0.5;
            transition: 0.2s all;
            display: flex;
            align-items: center;
            text-decoration: none;

            padding: 0.8rem;
            border-bottom: 1px solid #DDD;
            height: 4.5rem;

            img {
               width: 3rem;
               height: 3rem;
            }

            p {
               color: #000;
               margin-bottom: 0;
               margin-left: 0.5rem;
            }

            &:hover {
               opacity: 1;
               cursor: pointer;
            }

            &.active {
               opacity: 1;
            }
         }

      }
   }

   // RAP
   .listDayOfWeek {
      padding: 0;
      margin: 0;
      border-left: 1px solid #DDD;
      height: 100%;


      //       ::-webkit-scrollbar {
      //    height: 5px;
      // }

      // //bg cua cay scrollbar
      // ::-webkit-scrollbar-track {
      //    background: #f1f1f1;
      // }

      // // thanh drag keo
      // ::-webkit-scrollbar-thumb {
      //    background: #888;
      //    height: 12px !important;
      //    border-radius: 5px;
      // }


      // dayOfWeek
      .dayOfWeek {
         // height: 4.5rem;
         display: flex;
         align-items: center;
         // padding-bottom: 1rem;
         padding-top: 0.5rem;
         overflow-x: auto;
         overflow-y: hidden;
         width: 100%;
         background-color: #FFF;
         border-bottom: 1px solid #DDD;

         .listDay {
            list-style: none;
            margin-bottom: 0;

            display: inline-flex;

            .dayItem {
               text-align: center;
               width: 6rem;
               display: inline-block;

               p,
               h5 {
                  margin-bottom: 0;
               }

               &:hover {
                  cursor: pointer;
               }

               &.active {
                  color: red;
               }


            }



         }
      }

      // projection : rap va suat chieu
      .tab-content {

         overflow-y: auto;
         overflow-x: hidden;
         height: 85% !important;

         .tab-pane {
            border: none !important;

            .card {
               padding-top: 0.5rem;
               padding-bottom: 0.5rem;
               border: none;

               .card-header {
                  display: flex;
                  align-items: center;
                  border-bottom: 0;

                  .img__card {
                     width: 50px;
                     height: 50px;

                     img {
                        width: 100%;
                        height: 100%;
                     }
                  }

                  .address {
                     padding-left: 0.5rem;

                     h5 {
                        font-size: 1rem;
                        margin-bottom: 0;

                        b {
                           color: #00ac4d;
                        }
                     }

                     p {
                        font-size: 0.8rem;
                        color: #888;
                        margin-bottom: 0;
                     }
                  }

                  &:hover {
                     cursor: pointer;
                  }
               }

               .acc__collapse {


                  .card-body {
                     padding-top: 0.5rem;
                     padding-bottom: 0.5rem;


                     .listSuatChieu {
                        display: flex;
                        list-style: none;
                        width: 100%;

                        .suatChieu {
                           border: 1px solid #DDD;
                           border-radius: 10px;

                           text-align: center;
                           padding: 0.3rem;

                           width: 20%;
                           height: auto;
                           margin-bottom: 0.5rem;

                           .suatChieuIn {
                              font-size: 1.1rem;
                              font-weight: 600;
                              color: #00ac4d;
                           }

                           .suatChieuOut {
                              font-size: 0.9rem;
                              color: #777;
                           }

                           &:hover,
                           &:hover .suatChieuIn {
                              color: red;
                              cursor: pointer;
                              text-decoration: none;

                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}